{% extends "base.html.twig" %}

{% block title %}Mon panier{% endblock %}


{% block body %}

<Section>
        <div class="container-fluid p-4">
            <div class="row">
              
                <div class="container-fluid">
                    <div class="row mt-4 mb-4">
                        <div class="col-3 p-0">
                            <a href=" {{path('product_index')}} " class=" text-decoration-none ">
                                <div
                                    class="cont-retour-achat d-flex align-items-center justify-content-center px-2">
                                    <i class="fas fa-caret-left mr-1 "></i>
                                    <span class="py-2 font-weight-bold ">Continuer mes achats</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ============= PANIER ================ -->

                {% if panier | length == 0 %}
                    <div class="w-100 d-flex justify-content-center">
                        <p class="text-center">Vous n'avez aucun produit dans votre panier pour le moment</p>
                    </div>

                {% else %}
                
                <!-- --- Titre Panier --- -->
                <div class="container-fluid">
                    <div class="row text-center mb-4">
                        <div class="col-12">
                            <h2 class="perso_blue-green text-uppercase h4 font-weight-bold">mon panier</h2>
                        </div>
                    </div>
                </div>
                <!-- --- Table Header --- -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 text-center">
                            <span class="perso_orange font-weight-bold text-uppercase">produits</span>
                        </div>
                        <div class="col-md-3 d-none d-md-block text-center">
                            <span class="perso_orange font-weight-bold text-uppercase">quantité</span>
                        </div>
                        <div class="col-md-3 d-none d-md-block text-center">
                            <span class="perso_orange font-weight-bold text-uppercase">sous-total</span>
                        </div>
                    </div>
                </div>

                
                    
                
                    <!-- --- Table Body --- -->
                    <div class="container-fluid ">

                        {% for item in panier %}

                            <div class="row le-panier mx-md-0 mx-sm-1 mb-5 d-flex justify-content-center flex-wrap">

                                <!-- image Panier -->
                                <div class="col-12 col-md-3  d-flex justify-content-center align-items-center pl-md-2 ">
                                    <div class="cadre-img d-flex justify-content-center align-items-center">
                                        <img class="img-fluid img-product-panier"
                                            src="/assets/ressources/img/uploads/products/{{item.product.image}}" alt="">
                                    </div>
                                </div>

                                <!-- Detail Produit -->
                                <div class="col-12 col-md-4 d-flex align-items-md-start align-items-center justify-content-md-center flex-column p-0 mb-2">

                                    <h2 class="product-name perso_blue-green p-1 text-nowrap ">{{item.product.name}}</h2>

                                    <!-- Taille Select Box -->
                                    {% if (item.taille is not same as NULL and item.taille is not same as 'null') %}
                                    
                                        <div class="taille-option p-1">

                                            <strong class="text-uppercase taille-option-title mr-3 ">Taille :  {{item.taille}}</strong>
                                            
                                            
                                        </div>

                                       {% else %}

                                        {# {{form_start(form, {action:path('ajouter_panier', {'id' : item.product.id })})}}

                                            {{form_row(form.taille)}}

                                            <button type="submit" class="btn btn-link link-remove-card">valider votre taille</button>  

                                        {{form_end(form)}}    #}
                                        
                                    {% endif %}

                                    <!-- Lien Remove Article -->
                                    <div class="remove-article">
                                         
                                        <a href=" {{path('panier_supprimer_article', {'id' : item.product.id, 'taille' : item.taille})}}" id="deleteCardItem" class=" link-remove-card">
                                        <i class="far fa-trash-alt mr-1"style="font-size: 0.8rem;"></i><small>Supprimer</small></a>

                                        <a href=" {{path('product_show', {'slug' : item.product.slug, 'ancienneTaille' : item.taille})}}?redirige=edit_taille"  class=" link-remove-card ml-2">
                                        <i class="far fa-edit mr-1"style="font-size: 0.8rem;"></i><small>Modifier la taille</small></a>
                                    </div>

                                </div>

                                <!-- Select Quantite -->
                                <div class=" col-12 col-md-3 d-md-flex align-items-md-center p-0 mb-3">
                                    
                                    <div class="row taille-option p-1">
                                        <div class="col-12 col-md-4 mb-md-0 mb-3 text-nowrap d-flex justify-content-center align-items-center">
                                            <strong class="text-uppercase prix-quantité-card mb-2 "> <span class="prix-sous-total-title text-lowercase d-md-none">prix : </span> {{ item.product.price | amount  }}</strong>
                                        </div>
                                        

                                        <div class=" col-12 col-md-8 d-flex justify-content-center justify-content-md-start   select-box-component mb-1 ">

                                            <a class="text-dark btn btn-sm btn-light mr-2 mr-md-1 d-flex align-items-center" href="{{ path('panier_diminuer_article',{'id': item.product.id , 'taille' : item.taille}) }}"> - </a>
                                                <button class="btn btn-light"> {{ item.qty }} </button>
                                            <a class="text-dark btn btn-sm btn-light ml-2 ml-md-1 d-flex align-items-center" href="{{ path('ajouter_panier',{'id': item.product.id, 'taille' : item.taille }) }}?redirige=page_panier"> + </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sous Total -->
                                <div class=" col-12 col-md-2 d-flex justify-content-center justify-content-md-start align-items-md-center mb-3 p-md-0">
                                    <div class="ml-md-3 sous-total-cont d-flex justify-content-center ">
                                        <span class="font-weight-bold prix-sous-total mb-2 "> <span class=" prix-sous-total-title d-md-none ">Prix total : </span> {{ item.total | amount  }}</span>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>

                    <!-- Recap paiement et Tax -->
                        <div class="container-fluid ">
                            <div class="row pt-4 px-3">
                                <div class="col-lg-4 offset-lg-8 col-sm-6 offset-sm-6">

                                    
                                    <!-- sous-total -->
                                    <div class="d-flex justify-content-between py-1">
                                        <span class="h6 text-uppercase ml-5">sous-total</span>
                                        <span class="h6 mr-4">{{ total | amount }}</span>
                                    </div>
                                    <!-- frais de port -->
                                    <div class="d-flex justify-content-between py-1">
                                        <span class="h6 text-uppercase ml-5">frais de port</span>
                                        <span class="h6 mr-4">0,00 €</span>
                                    </div>
                                    <!-- total TTC -->
                                    <div class="d-flex justify-content-between py-1">
                                        <span class="h6 perso_orange text-uppercase font-weight-bold ml-5"><strong>total
                                                ttc</strong></span>
                                        <span class="h6 mr-4 perso_orange"> <strong> {{total | amount}} </strong> </span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-danger text-uppercase" href=" {{path('order')}} ">Poursuivre la commande</a>
                                    </div>
                                </div>

                                {% endif %}

                    

                                <!-- ========== Retour Achat ============= -->
                                <div class="container-fluid">
                                    <div class="row mt-4 mb-4">
                                        <div class="col-3 p-0">
                                            <a href=" {{path('product_index')}} " class=" text-decoration-none ">
                                                <div
                                                    class="cont-retour-achat d-flex align-items-center justify-content-center px-2">
                                                    <i class="fas fa-caret-left mr-1 "></i>
                                                    <span class="py-2 font-weight-bold ">Continuer mes achats</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

</Section>


{% endblock %}