{% extends "base_account.html.twig" %}

{% block title %}Mon compte - Addresses{% endblock %}

{% block body %}


 <!-- Box Mes adresses-->
    {% if app.user.addresses |length == 0 %}
   
        
        <div class="my-5" >
            <a href=" {{path('account_create_address')}} " class=" btn btn-sm btn-danger float-right">Ajouter une adresse</a>
            <p>Vous n'avez pas encore d'adresse enregistré pour ce compte. </p>
        
        </div>


    {% else %}
            

        <div class="adresses">


            <div class="row ">

                <div class="col-md-6 mes-adresses">
                    <div class=" mb-5">
    
                        <h2 class="perso-red perso_font_bold h3">Adresses par défaut</h2>

                        {% for address in app.user.addresses %}
                            
                        
                        <h4 class="h5 mt-3"> {{address.name}} </h4>
    
                        <div class="info-adresse mb-3">
                            <p class="h6"> {{address.firstname}} {{address.lastname}} </p>
                            <p class="h6"> {{address.address}}</p>
                            <p class="h6"> {{address.city}} , {{address.postal}}</p>
                            <p class="h6"> {{address.country}} </p>
                            <p class="h6 mb-2"> {{address.phone}} </p>
                            <a href=" {{path('account_edit_address', {'id' : address.id })}} " class="text-reset text-decoration-none">Modifier</a> |  <a href=" {{path('account_delete_address', {'id' : address.id })}} " class="text-reset text-decoration-none">Supprimer</a>
    
                        </div>
                        
                        {% endfor %}

    
                    </div>
                    
    
                   
    
                    
    
    
                </div>
    
                <div class="col-md-6 autres-adresses">
                    <h2 class="perso-red perso_font_bold">Saisies d'adresses supplémentaires </h2>
    
                    <div class="info-adresse mt-3">
                        <p>Vous n'avez pas d'adresse supplémentaire dans votre carnet d'adresses</p>
    
                    </div>
                </div>
    
                
                
                
    
    
    
            </div>
                
            <div class="row">
                <div class=" d-flex col-12 box-content  justify-content-between "> 
    
                    <div class="ml-2">
                        <a href=" {{path('account')}} " class="">
                            <div class="link-retour">
                                <i class="fas fa-chevron-left mr-1"></i>
                                Retour
                            </div>
                        </a>
                    </div>
                   
                    <div class="mr-4">
                        <a  href="{{path('account_create_address')}}" class="btn btn-danger text-uppercase text-white rounded-pill  ">ajouter une nouvelle adresse</a >
                    </div>
    
                </div>   

            </div>
             
        </div>
       
   


    {% endif %}

    </div>
    
        





{% endblock %}