{% extends "base_account.html.twig" %}

{% block title %}Modidifer mes informations personnelles{% endblock %}

{% block body %}

{# 
    {% if notification %}
        <div class="alert alert-info"> {{notification}} </div>
    
    {% endif %} #}

    {{form_start(form)}}

    


    

   

            <div class="row box-info-edit flex-column mt-4 justify-content-center ">

                <div class=" box-title-info">
                    <div class="col-12 ">
                        <h2 class="py-3">Informations du compte</h2>
                    </div>
                </div>

            

                <div class="row box-content p-1 justify-content-start ">

                    

                    <div class="col-12 col-lg-6 px-4 d-flex flex-column  perso_blue-green">

                        {{form_widget(form.prenom, {'attr': {'class': 'form-control-sm mb-2'}} )}}
                        {{form_widget(form.nom, {'attr': {'class': 'form-control-sm mb-2'}})}}
                        {{form_widget(form.email, {'attr': {'class': 'form-control-sm'}})}}

                        
                    </div>

                    <div class="col-12 col-lg-6 px-4 mt-5 mt-lg-1 perso_blue-green">
                        <div class="input-radio-info  mb-3">
                            
                            {{form_widget(form.sex, {'value' : sexActuel })}}

                        </div>

                        <div class="birth-date d-flex flex-column  ">
                            
                            {{form_row(form.dateDeNaissance)}}

                        </div>
                    </div>

                </div>

                <div class="row box-content p-1 justify-content-start ">

                    <div class="col-12 col-lg-6 px-4 d-flex flex-column perso_blue-green">
                        {{form_widget(form.old_password)}}
                    </div>

                </div>

                <div class="row box-content p-1 justify-content-start ">

                    <div class="col-12 px-4 perso_blue_green">
                        <input type="checkbox" id="changeMdp">
                        <label for="changeMdp">Modifier le mot de passe</label>
                    </div>

                </div>

                <div class="new-password hidden" id="newPassword" >

                    <div class=" box-title-info">
                        <div class="col-12 ">
                            <h2 class="py-3">Modifier le mot de passe</h2>
                        </div> 
                    </div>

                    

                    <div class="row box-content p-1 justify-content-start ">    

                        <div class="col-12 col-lg-6 p-3  d-flex flex-column  perso_blue-green">

                            {{form_widget(form.new_password, {'attr': {'id': 'newPwd'}})}}
                            
                            
                        </div>
                

                    </div>

                </div>

                <div class="row box-content">
                    <div class=" d-flex col-12   justify-content-between "> 
        
                        <div class="ml-2">
                            <a href=" {{path('account')}} " class="">
                                <div class="link-retour">
                                    <i class="fas fa-chevron-left mr-1"></i>
                                    Retour
                                </div>
                            </a>
                        </div>
                       
                        <div class="">
        
                            <button type="submit" class="btn btn-danger btn-sm  text-uppercase rounded-pill  ">sauvegarder</button>
                        </div>
        
                    </div>   
    
                </div>



            

            </div>


        {{form_end(form)}}

    </div>



{% endblock %}