{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Greenclothe{% endblock %}

{% block body %}

<div class="container mb-5 my-4 mx-auto">

    <h2 class="text-center">Je passe ma commande</h2>

    <p class="text-center">Choisissez vos préferences avant de passer votre commande</p>

    <hr>

    <div class="row order-set-up">
        <div class="col-md-6 col-12 w-100">
            
            <div class="cont-adresse">
            
                {% set formHtml %}

                    {{form_start(form, {action:path('order_recap')})}}
                        {{form_label(form.addresses, 'Choisissez votre adresse de livraison')}}
                        <a href="{{path('account_create_address')}}">Ajouter une nouvelle adresse</a>

                        {{form_row(form.addresses)}}
                        {{form_row(form.carrier)}}

                        <button type="submit" class="btn bouton-valid-commande  btn-sm d-md-block d-none">Valider ma commande</button>
                        
                    

            </div>

           
        </div>
        <div class="col-md-6 col-12 ">
            <div class="border border-warning mx-auto p-4">
                <strong class="text-center font-weight-bold d-block mx-auto mt-2">Récap de ma commande</strong><hr class="perso_bg_orange">

                {% for item in cart %}
                    <div class="row align-items-center ">
                        <div class="col-3">
                            <img class="img-fluid img-product-panier"src="/assets/ressources/img/uploads/products/{{item.product.image}}" alt="">
                        </div>
                        <div class="col-5">
                        <strong>{{item.product.name}}</strong>  <br>
                            <small> Taille: {{item.taille}} </small><br>
                            <small>Qty : x {{ item.qty}}</small>
                        </div>
                        <div class="col-4">
                        Prix : {{(item.product.price * item.qty) | amount}}
                        </div>
                        
                    </div>
                    <hr class="perso_bg_orange">
                {% endfor %}
            </div>

                    <button type="submit" class="btn bouton-valid-commande  w-100 d-md-none d-block mt-3">Valider ma commande</button>


                    {{form_end(form)}}

                        {% endset %}

                    {{formHtml|replace({'[br]' : '<br/>'}) | raw }}
        </div>

    </div>

</div>

{% endblock %}
